<div is ="header">
    <nav>
        <ul>
            <li><a href="#">プロフィール</a></li>
            <li><a href="#">リスト</a></li>
            <li><a href="#">トピック</a></li>
            <li><a href="#">twitterサークル</a></li>
            <li><a href="#">ブックマーク</a></li>
            <li><a href="#">モーメント</a></li>
            <li><a href="#">購入内容</a></li>
            <li><a href="#">収益を得る</a></li>
        </ul>
    </nav>
</div>